
		<li class="folder #CLASS" title="#TITLE">
			<div class="buttons">
				<a class="locked" title="#tooltip_lock" href="#locked" onclick="put_id('#ID')">&nbsp;</a>
				<a class="burn" title="#tooltip_burn" href="admin.php?burn=#ID&token=#TOKEN">&nbsp;</a>
				<a class="renew" title="#tooltip_renew" href="admin.php?renew=#ID&token=#TOKEN">&nbsp;</a>
			</div>
			<a href="admin.php?path=#FICHIER&token=#TOKEN" >
				<img src="design/#theme/img/folder.png" style="background:transparent;"/>
				<em>#NAME</em> <em class="over">[ #SIZE ]</em>
			</a>
		</li>
	