
		<li class="#EXTENSION #CLASS">						
			<div class="buttons" title="#TITLE">
				<a class="locked" title="#$tooltip_lock" href="#locked" onclick="put_id('#ID')">&nbsp;</a>
				<a class="burn" title="#tooltip_burn" href="admin.php?burn=#ID&token=#TOKEN">&nbsp;</a>
				<a class="renew" title="#tooltip_renew" href="admin.php?renew=#ID&token=#TOKEN">&nbsp;</a>
			</div>
			<a href="index.php?f=#ID" download="#NAME">
				<img class="#EXTENSION" src="design/#theme/img/ghost.png"/>
				<em>#NAME</em> <em>[ #SIZE ko ]</em>
			</a>
		</li>
	