
		<div class="lightbox" id="selecttarget">
			<figure>
				<a href="#" class="closemsg"></a>
				<figcaption>
					<h1>#Move_file_or_folder</h1>
				    <form action="admin.php" method="post">
						<label>#Move:</label><input type="text" value="" name="file" id="filename" disabled="true"/>
						<input type="hidden" value="" name="file" id="filename_hidden"/>
						<label>#To:</label>#LIST_FILES_SELECT
						<input type="hidden" name="token" value="#TOKEN"/>
						<br/>
						<input type="submit" value="ok" class="button"/>
				    </form>
				</figcaption>
			</figure>
		</div>
	