/* Admin */
#admin {
  width: calc(100% - 8px);
  margin: 0 auto;
  color: #333;
}

/* menu */
#admin #menu a {
  display: block;
  padding: 5px;
  width: 34px;
  height: 34px;
  float: left;
  margin-bottom: 10px;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}
#admin #menu a:hover {background-color: #hover_color_dark!important}

#admin #menu a:first-of-type {
  border-left: 1px solid #888;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#admin #menu a:last-of-type {
  border-right: 1px solid #888;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#admin #menu #delete_selection.show
{opacity:100;max-width:200px;transition:all 300ms;margin-left:2px;}
#admin #menu #delete_selection:hover
{background-color:#f30!important;transition:all 300ms;}
#admin #menu #delete_selection
{
  cursor:pointer;transition:all 300ms;
  opacity:0;max-width:0;
  overflow:hidden;
  background: #e20 url('../img/list/trash.png') center center no-repeat;
  display: inline-block;
  padding: 0;
  width: 34px;
  height: 34px;
  border-radius: 3px;
  margin-left:0;
}
#admin #menu #move_selection
{  background: #e20 url('../img/list/move.png') center center no-repeat;}
  
#admin #menu #icon                  {background: #basic_color_neutral url('../img/admin/menu_icon.png') center center no-repeat;}
#admin #menu #list                  {background: #basic_color_neutral url('../img/admin/menu_list.png') center center no-repeat;}
#admin #menu #new_folder            {background: #basic_color_neutral url('../img/admin/menu_new_folder.png') center center no-repeat;}
#admin #menu #download_url          {background: #basic_color_neutral url('../img/admin/menu_download_url.png') center center no-repeat;}
#admin #menu #mode_view             {background: #basic_color_neutral url('../img/admin/menu_file.png') center center no-repeat;}
#admin #menu #mode_links            {background: #basic_color_neutral url('../img/admin/menu_link.png') center center no-repeat;}
#admin #menu #mode_move             {background: #basic_color_neutral url('../img/admin/menu_move.png') center center no-repeat;}

/* fil ariane */
#admin #fil_ariane{
  clear: both;
  width: 100%;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  border-bottom: 1px solid #888;
  font-size: 1em;
}

#admin #fil_ariane .ariane_home {
  display: inline-block;
  background: transparent url('../img/admin/fil_ariane_home.png') center center no-repeat;
  width: 32px;
  height: inherit;	
}
#admin #fil_ariane a:hover{color:#hover_color_neutral;}
#admin #fil_ariane a.ariane_item{margin-left:5px;}
#admin #fil_ariane a.ariane_item:after{
  content:"/";
  margin-left:5px;
  margin-right:5px;
  height:38px;
  display:inline-block;
  line-height: 30px;
  color:rgba(0,0,0,0.5);
  
  text-decoration: none;
  font-size:1em;
}

#folder_size{
  color:rgba(0,0,0,0.5);
}

/* filtre */
#admin #filter {
  margin: 15px 0;
  font-size: 0.9em;
}

/* explications sur les déplacements de fichiers, dossiers */
#admin #move {
  clear: both;
  margin-top: 15px;
}

#admin #move ul li {
  display: block;
  padding-top: 10px;
}

#admin #move ul li span {
  display: table-cell;
  vertical-align: middle;
  font-size: 0.8em;
}

#admin #move ul li span.img {
  width: 24px;
  height: 24px;
  padding-right: 5px;
}

#admin #move ul li span.img img {
  height: inherit;
  display: inline;
}

#ID_folder{text-align:center;color:rgba(0,0,0,0.8);font-size:1.2em;}

#toplink a{color:rgba(0,0,0,0.5)}
#toplink{
  font-size:2em;
  padding:5px;
  background-color:rgba(0,0,0,0.2);
  border-radius:3px;
  width:48px;height: 48px;
  text-align:center;
  position:fixed;
  bottom:5px;right:5px;
}

.info{text-align: center;padding:10px;border-radius: 3px;background-color: rgba(0,150,255,0.5);margin:5px;color:white;text-shadow:0 1px 1px rgba(0,0,0,0.2);}