/* Header */
body>header {
  min-height: 80px;
  background: #basic_color_neutral;/* change this color in style.php*/
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-bottom:20px;
}
#title_page{
  text-align:left;
  font-size:1.7em;
  color:rgba(255,255,255,0.9);
  padding-left:10px;
  display:block;
  margin:0;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5)
}
#top_bar {
  background: rgba(0,0,0,0.4);
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
#top_bar *{vertical-align: middle!important}


#top_bar a {line-height: 23px;}
#top_bar a:hover {
  color: #hover_color_light;
  background-color: #hover_color_superdark!important;
}

#top_bar #icons a {
  min-width: 22px;
  height: 22px;
  display: block;
  float: left;
}


#top_bar #icons {
  float: left; margin-top: 4px;
}

#top_bar #icons a:hover {color:white;}
#top_bar #icons a {
  display: inline-block;
  padding: 5px;
}

#top_bar #icons a,
#top_bar #lang a {
  color: rgba(255,255,255,0.6);  
  border:none;
}

#top_bar .profile_rights .icon-crown:before{vertical-align: sub;}
#search {
  float: right;margin-top: 4px;
  display: block;
  margin-right: 2px;
}

#search input[type=text]{
  margin-top: 3px;
  height: 28px;
  width: 5px;
  padding-left: 26px;
  background: #e9e9e9 url('../img/header/search.png') 8px center no-repeat;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}


#search input[type=text]:focus {
  width: 200px;
  background-color: #eee;
}

#connect {
  display: block;
  float:right;
  margin-top: 4px;
}

#connect #admin_button {
  height: 22px;
  line-height: 22px;
  min-width: 22px;
  padding-left:20px;margin-right:5px;
  text-align: center;
  background: rgba(0,0,0,0.2) url('../img/header/user.png') 5px center no-repeat;
  color: rgba(255,255,255,0.7);
  float: right;
  }
#connect #admin_button.superadmin{padding-left:5px;background-image:none;color:white;text-shadow:0 0 2px rgba(255,255,255,0.5);}
#connect #admin_button.admin{padding-left:5px;background-image:none;}
#connect #admin_button.user{padding-left:5px;background-image:none;}

#connect #logout_button,
#connect #login_button {
  height: 22px;
  line-height: 25px;
  float: right;

}
#connect a:hover{
 background-color: #hover_color_dark!important;
 color:#hover_color_light!important;
}

#connect #login_button{
  color:rgba(255,255,255,0.8);
  font-size:14px;line-height: 16px;margin-right:5px;
}
#connect #login_button span{
  font-size:18px;
}
#connect #logout_button:hover{color:white!important}
#connect #logout_button {
  font-size: 20px;
  line-height: 18px;
  color:rgba(255,255,255,0.8);
}

body.login #connect #login_button {
  display: none;
}

#logo {
  clear: both;
  width: 100%;
  /*height: 150px;*/
  padding-top: 118px;
  background: transparent url('../img/header/logo.png') center top no-repeat;
  color: #fff;
  display: block;
}

.home   #top_bar #lang,
.login #top_bar #lang {margin-top: 2px;}
#top_bar #lang {float:right;margin-right:5px;margin-top:4px;}
#top_bar #lang ul {list-style:none;padding:0px;margin:0px;}
#top_bar #lang ul li {display:block;position:relative;float:left;}
#top_bar #lang li ul {display:none;}
#top_bar #lang ul li a {display:block;padding:5px 10px 5px 10px;text-decoration:none;white-space:nowrap;min-width:30px;}
#top_bar #lang li:hover ul {display:block;position:absolute;}
#top_bar #lang li:hover li {float:none;}
#top_bar #lang li:hover a {background:rgba(0,0,0,1);}
#top_bar #lang a:hover {color: #fff;}
#top_bar #lang a.active::after {content:"\25be";color:gray;font-size:14px;margin-left:2px;} 

/* Slogan seulement sur l'accueil */
.slogan {
  display:none;
}

body.home .slogan {
  display: block;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

/* Dropzone */
#upload.hidden, .info.hidden{
  max-height:0;
  opacity:0;
  transition: all 300ms;

}
#upload{
  max-height:300px;
  opacity:100;
  overflow:hidden;
  transition: all 300ms;
}

.DD_dropzone {
  clear: both;
  font-size: 1em;
  cursor: pointer;	
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 15px;
  padding-top: 118px;
  min-height: 100px;
  min-width: 300px;
  background: transparent url('../img/header/logo.png') center top no-repeat;
}

.DD_uploading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,5,0.8);
}

.DD_uploading .DD_text {
  display: none;
}

.DD_hover {
  background-color: #hover_color_neutral;
}

.DD_text {
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
  font-weight: bold;
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  border:none;
}

.DD_text em {
  font-size: 0.8em;
  font-style: italic;
}

.DD_file,.DD_error {
  padding: 10px;
  border-radius: 3px;
  display: block;
  margin-bottom: 5px;
}

 li.DD_success {
  background-color: rgba(0,255,0,0.8);	
}

li.DD_error {
  font-weight: bold;
  background-color: rgba(255,0,0,0.8);
  color: #fff;
  text-shadow: 0 1px 1px rgba(155,0,0,0.8)
}

li.DD_warning {
  font-weight: bold;
  background-color: rgba(255,150,0,0.8);
  color: #fff;
  line-height: 20px;
  text-shadow: 0 1px 1px rgba(155,80,0,0.8)
}

.DD_info {
  text-align: left;
}

.DD_info li.DD_file {
  list-style: none;
}

#DD_progressbar {
  overflow: hidden;
  font-size: 0.8em;
  border-radius: 3px;
  padding: 3px 0;
  text-align: center;
  background: #bAd3ed;
  box-shadow: 0 0 3px #405bff;
  color: #000;
  height: 20px;
  width: 0%
}

.DD_hidden{
  opacity: 0;
  width: 0;
  height: 0;
  border: 0;
  position: absolute;
  top: -10000px;
  left: -10000px;
}
