/* Home */
#home {
  max-width: 1000px;
  margin: 0 auto;
}

#home a {
  color: #3e58f7;
}

#home a:hover {
  text-decoration: underline;
}

#home #center {
  text-align: center;
  margin: 0 4px;
}

#home #logos,
#home .img {
  margin-top: 4px;
}

#home #agpl {
  margin-top: 10px;
}

#home #easy {
  margin-top: 25px;
}

#home #easy #notes div {
  width: 46%;
  margin: 0 2%;
  text-align: center;
  float: left;
}

#home #easy #notes img {
  width: 128px;
  display: inline;
}

#home #easy h2,
#home #more h2 {
  font-size: 1.5em;
  text-align: center;
  padding: 20px 0;
  text-decoration: underline;
}

#home #more {
  clear: both;
  padding-top: 25px;
}

#home #more ul li {
  display: block;
  margin: 0 4px 6px 4px;
}

#home #more ul li:hover {
  background-color: #bAd3ed;
  box-shadow: 0px 0px 2px rgba(0, 126, 255, 0.5);
}

#home #more ul li span {
  display: table-cell;
  vertical-align: middle;
}

#home #more ul li span.img {
  width: 64px;
  height: 64px;
}

#home #more ul li span.img img {
  height: inherit;
  display: inline;
}
.home header #title_page{display:none;}