/* List */
/*
Aucun fichier:
.icon et .list ayant un min-height à 200px, on fixe ici la hauteur pour centrer le message verticalement
*/
#nofile {
  height: 200px;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
}

/* 
 * Vue en listes
 */

/* afficher les actions au survol d'un fichier ou dossier de la liste */
#admin .list li .buttons {
  float: right;
}

/* les listes */
#admin .list li {
  min-height: 26px;
  overflow: hidden;
  display: block;
  list-style: none;
  font-size: 12px;
  border-radius: 3px;
  padding: 2px;
  margin: 2px;
  cursor: pointer;
  word-spacing: word-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  z-index: 1;
  vertical-align: bottom;
  border: 1px solid rgba(0,0,0,0.1);
  border-top-color: rgba(255,255,255,0.2);	
  background-color: rgba(255,255,255,0.1);
}

#admin .list li a {
  display: inline-block;
  text-decoration: none;
}

#admin .list li>em {
  font-style: italic;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
}

#admin .list li a em {
  max-height: 30px;
  font-style: normal;
  margin-right: 10px;
  display: inline-block;
  word-wrap: break-word;
  word-break: break-all;
}

#admin .list li a img {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: auto;
  border-radius: 2px;
  vertical-align: middle;
}

/*
 * Vue en listes et en icones
 */

#admin .list,
#admin .icon {
  padding: 0;
  min-height: 200px;
  text-align: left;
}

#admin .list .folder,
#admin .icon .folder {
  background: rgba(0,50,100,0.1);
}

#admin .list .folder .over,
#admin .icon .folder .over {
  position: relative;
  top: -32px;
  color: #fff;
  text-align: center;
}

#admin .list li:hover,
#admin .icon li:hover {
  background-color:rgba(0,126,255,0.2);
  box-shadow: 0 0 2px rgba(0,126,255,0.5);
}

#admin .list li.burn,
#admin .icon li.burn {
  background-color: rgba(255,10,0,0.5) ;
  border: 1px solid red;
  box-shadow: 0 0 2px rgba(255,0,0,0.5);
}

#admin .list li.burn:hover,
#admin .icon li.burn:hover {
  background-color: rgba(255,10,0,0.2) !important;
  box-shadow: 0 0 2px rgba(255,10,0,0.5);
}

#admin .list li.locked,
#admin .icon li.locked {
  background-color: rgba(0,126,255,0.5);
  border: 1px solid rgba(0,100,255,0.9);
  box-shadow: 0 0 2px rgba(0,100,255,0.5);
}

#admin .list li.locked:hover,
#admin .icon li.locked:hover {
  background-color: rgba(0,126,255,0.2) !important;
  box-shadow: 0 0 2px rgba(0,100,255,0.5);
}

.move .list li:hover,
.move .icon li:hover {
  background-color: rgba(255,10,0,0.2) !important;
  box-shadow: 0 0 2px rgba(255,10,0,0.5);
}

.links .list li:hover,
.links .icon li:hover {
  background-color: rgba(10,255,10,0.2) !important;
  box-shadow: 0 0 2px rgba(10,255,10,0.5);
}

#admin .list li .buttons,
#admin .icon li .buttons {
  width: 110px;
  height: 20px;
  display: block;
  float: right;
  border-radius: 3px;
}

#admin .list li .buttons a,
#admin .icon li .buttons a {
  display: block;
  line-height: 100%;
  width: 18px;
  height: 18px;			
  border-radius: 3px;
  font-size: 14px;
  display: none;
  margin: 1px;
}

#admin .list li:hover .buttons,
#admin .icon li:hover .buttons {
  background-color: rgba(0,0,0,0.7);
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

#admin .list li:hover .buttons *,
#admin .icon li:hover .buttons * {
  display: inline-block;
}

/* images pour les actions sur les fichiers */
li a.movefolder                     {background: url('../img/list/move.png') center center no-repeat;}
li a.close                          {background: url('../img/list/trash.png') center center no-repeat;}
li a.visu                           {background: url('../img/list/eye.png') center center no-repeat;}
li a.link                           {background: url('../img/list/link.png') center center no-repeat;}
li a.locked                         {background: url('../img/list/locked.png') center center no-repeat;}
li a.burn                           {background: url('../img/list/burn.png') center center no-repeat;}
li a.renew                          {background: url('../img/list/renew.png') center center no-repeat;}
li a.rename                         {background: url('../img/list/rename.png') center center no-repeat;}
li a.tofolder                       {background: url('../img/list/folder.png') center center no-repeat;}
li a.zipfolder                      {background: url('../img/list/download_folder.png') center center no-repeat;}
li a.qrcode                         {background: url('../img/list/qrcode.png') center center no-repeat;}
li.burn                             {background-image: url('../img/list/burn.png') !important;
                                     background-position: center center !important;
                                     background-repeat: no-repeat !important;
                                    }
li.locked                           {background-image: url('../img/list/locked.png') !important;
                                     background-position: center center !important;
                                     background-repeat: no-repeat !important;
                                    }

li a.movefolder:hover               {background-color: rgba(255,0,0,0.8);}
li a.close:hover                    {background-color: rgba(255,0,0,0.8);}
li a.rename:hover                   {background-color: rgba(0,150,0,0.8);}
li a.link:hover                     {background-color: rgba(0,0,255,0.8);}
li a.visu:hover                     {background-color: rgba(0,150,155,0.8);}
li a.burn:hover                     {background-color: rgba(255,50,0,0.9);}
li a.renew:hover                    {background-color: rgba(0,150,250,0.8);}
li a.locked:hover                   {background-color: rgba(100,100,100,0.8);}
li a.tofolder:hover                 {background-color: rgba(200,100,100,0.8);}
li a.zipfolder:hover                {background-color: rgba(200,100,100,0.8);}
li a.qrcode:hover                   {background-color: rgba(200,100,100,0.8);}
li.burn:hover                       {background-color: rgba(255,0,0,0.9);}
li.locked:hover                     {background-color: rgba(0,100,255,0.9);}

/* extensions */
#admin .list li a img,
#admin .icon li a img {
  background: url('../img/extensions/unknown.png') center center no-repeat;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

img.zip,img.rar,img.gzip,img.tgz    {background-image: url('../img/extensions/zip.png') !important;}
img.txt,img.ini,img.nfo, img.css    {background-image: url('../img/extensions/txt.png') !important;}
img.doc,img.odt,img.xdoc            {background-image: url('../img/extensions/doc.png') !important;}
img.pdf                             {background-image: url('../img/extensions/pdf.png') !important;}
img.xls                             {background-image: url('../img/extensions/xls.png') !important;}
img.css                             {background-image: url('../img/extensions/css.png') !important;}
img.js                              {background-image: url('../img/extensions/js.png') !important;}
img.swf                             {background-image: url('../img/extensions/swf.png') !important;}
img.mp3,img.ogg                     {background-image: url('../img/extensions/mp3.png') !important;}
img.mp4,img.flv, img.avi, img.mkv   {background-image: url('../img/extensions/mp4.png') !important;}
img.php, img.secured_php            {background-image: url('../img/extensions/php.png') !important;}
img.html,img.htm,img.shtml,img.shtm {background-image: url('../img/extensions/html.png') !important;}
img.exe,img.bat,img.iso,img.bin     {background-image: url('../img/extensions/exe.png') !important;}

/* 
 * Vue en icones
 */

#admin .icon li {
  width: 132px;
  height: 132px;
  overflow: hidden;
  display: inline-block;
  list-style: none;
  font-size: 12px;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  word-spacing: word-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  z-index: 1;
  text-align: center;
  vertical-align: bottom;
  border: 1px solid rgba(0,0,0,0.1);
  border-top-color: rgba(255,255,255,0.2);	
  background-color: rgba(255,255,255,0.1);
}

#admin .icon li .buttons {
  position: absolute;
}

#admin .icon li a {
  display: block;
  text-decoration: none;
}

#admin .icon li>em {
  font-style: italic;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

#admin .icon li a em {
  max-height: 30px;
  font-style: normal;
  margin-bottom: 3px;
  display: block;
}

#admin .icon li a img {
  width: 64px;
  height: 64px;
  display: block;
  margin: auto;
  border-radius: 2px;
}
