/* Lock */
#lock #message {
  margin: 20px auto;
  text-align: center;
  width: calc(100% - 8px);
}
#lock #message img {display:block;margin:auto;}
#lock form {
  width: 400px;
  margin: 0 auto;
}

#lock form input:not(#submit) {
  width: 400px;
  height: 35px;
  text-indent: 7px;
  margin-bottom: 7px;
  color: #85888b;
  border: 1px solid #d6ecfc;
  border-radius: 5px;
}

#lock form #submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}