/*
This document has been created with Marked.app <http://marked2app.com>, Copyright 2013 Brett Terpstra
Content is property of the document author
Please leave this notice in place, along with any additional credits below.
---------------------------------------------------------------
Title: GitHub
Author: Brett Terpstra
Description: Github README style. Includes theme for Pygmentized code blocks.
*/
html, .markdown {
  color: black; }
.markdown {padding:20px;margin:20px auto;max-width:1024px;border:1px solid #ddd;}
.markdown *:not('#mkdbuttons') {
  margin: 0;
  padding: 0; }

.markdown #wrapper {
  font: 15px helvetica,arial,freesans,clean,sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7;
  padding: 3px;
  background: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.markdown p {
  margin: 1em 0; }
.markdown em {
  font-style: italic; }
.markdown em {
  font-weight: bold; }
.markdown p {
  margin: 1em 0; }

.markdown a {
  color: #4183c4;
  text-decoration: none; }

.markdown #wrapper {
  background-color: #fff;
  padding: 30px;
  margin: 15px;
  font-size: 15px;
  line-height: 1.6; }
  .markdown #wrapper > *:first-child {
    margin-top: 0 !important; }
  .markdown #wrapper > *:last-child {
    margin-bottom: 0 !important; }

@media screen {
  .markdown #wrapper {
    box-shadow: 0 0 0 1px #cacaca, 0 0 0 4px #eee; } }
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  font-weight: 700;
  line-height: 1.7;
  cursor: text;
  position: relative;
  margin: 1em 0 15px;
  padding: 0; }
.markdown i{font-style:italic;}
.markdown b{font-weight:bold;}
.markdown h1 {
  font-size: 2.5em;
  border-bottom: 1px solid #ddd; }

.markdown h2 {
  font-size: 2em;
  border-bottom: 1px solid #eee; }

.markdown h3 {
  font-size: 1.5em; }

.markdown h4 {
  font-size: 1.2em; }

.markdown h5 {
  font-size: 1em; }

.markdown h6 {
  color: #777;
  font-size: 1em; }

.markdown p, .markdown blockquote, .markdown table, .markdown pre {
  margin: 15px 0; }

.markdown ul {
  padding-left: 30px; }
.markdown ul li {
  list-style-type: disc!important; }

.markdown ol {
  padding-left: 30px; }
  .markdown ol li ul:first-of-type {
    margin-top: 0px; }

.markdown hr {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OENDRjNBN0E2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OENDRjNBN0I2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4Q0NGM0E3ODY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4Q0NGM0E3OTY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqqezsUAAAAfSURBVHjaYmRABcYwBiM2QSA4y4hNEKYDQxAEAAIMAHNGAzhkPOlYAAAAAElFTkSuQmCC) repeat-x 0 0;
  border: 0 none;
  color: #ccc;
  height: 4px;
  margin: 15px 0;
  padding: 0; }

.markdown #wrapper > h2:first-child {
  margin-top: 0;
  padding-top: 0; }
.markdown #wrapper > h1:first-child {
  margin-top: 0;
  padding-top: 0; }
  #wrapper > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
.markdown #wrapper > h3:first-child, #wrapper > h4:first-child, #wrapper > h5:first-child, #wrapper > h6:first-child {
  margin-top: 0;
  padding-top: 0; }

.markdown a:first-child h1, .markdown a:first-child h2, .markdown a:first-child h3, .markdown a:first-child h4, .markdown a:first-child h5, .markdown a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

.markdown h1 + p, .markdown h2 + p, .markdown h3 + p, .markdown h4 + p, .markdown h5 + p, .markdown h6 + p, .markdown ul li > :first-child, .markdown ol li > :first-child {
  margin-top: 0; }

.markdown dl {
  padding: 0; }
  .markdown dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    .markdown dl dt:first-child {
      padding: 0; }
    .markdown dl dt > :first-child {
      margin-top: 0; }
    .markdown dl dt > :last-child {
      margin-bottom: 0; }
  .markdown dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    .markdown dl dd > :first-child {
      margin-top: 0; }
    .markdown dl dd > :last-child {
      margin-bottom: 0; }

.markdown blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777; }
  .markdown blockquote > :first-child {
    margin-top: 0; }
  .markdown blockquote > :last-child {
    margin-bottom: 0; }

.markdown table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit; }
  .markdown table th {
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 6px 13px; }
  .markdown table td {
    border: 1px solid #ccc;
    padding: 6px 13px; }
  .markdown table tr {
    border-top: 1px solid #ccc;
    background-color: #fff; }
    .markdown table tr:nth-child(2n) {
      background-color: #f8f8f8; }

.markdown img {
  max-width: 100%; }

.markdown code, .markdown tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  font-size: 12px;
  color: #333333; }

.markdown pre > code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

.markdown .highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

.markdown pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  margin: 26px 0; }
  .markdown pre code, .markdown pre tt {
    background-color: transparent;
    border: none; }

.markdown .poetry pre {
  font-family: Georgia, Garamond, serif !important;
  font-style: italic;
  font-size: 110% !important;
  line-height: 1.6em;
  display: block;
  margin-left: 1em; }
  .markdown .poetry pre code {
    font-family: Georgia, Garamond, serif !important;
    word-break: break-all;
    word-break: break-word;
    /* Non standard for webkit */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    white-space: pre-wrap; }

.markdown sup, .markdown sub, .markdown a.footnote {
  font-size: 1.4ex;
  height: 0;
  line-height: 1;
  vertical-align: super;
  position: relative; }

.markdown sub {
  vertical-align: sub;
  top: -1px; }

@media print {
  .markdown {
    background: #fff; }

  .markdown img, .markdown pre, .markdown blockquote, .markdown table, .markdown figure {
    page-break-inside: avoid; }

  .markdown #wrapper {
    background: #fff;
    border: none; }

  .markdown pre code {
    overflow: visible; } }
@media screen {
  body.inverted {
    color: #eee !important;
    border-color: #555;
    box-shadow: none; }

  .inverted #wrapper, .inverted hr, .inverted p, .inverted td, .inverted li, .inverted h1, .inverted h2, .inverted h3, .inverted h4, .inverted h5, .inverted h6, .inverted th, .inverted .math, .inverted caption, .inverted dd, .inverted dt, .inverted blockquote {
    color: #eee !important;
    border-color: #555;
    box-shadow: none; }
  .inverted td, .inverted th {
    background: #333; }
  .inverted pre, .inverted code, .inverted tt {
    background: #eeeeee !important;
    color: #111; }
  .inverted h2 {
    border-color: #555555; }
  .inverted hr {
    border-color: #777;
    border-width: 1px !important; }

  .markdown ::selection {
    background: rgba(157, 193, 200, 0.5); }

  .markdown h1::selection {
    background-color: rgba(45, 156, 208, 0.3); }

  .markdown h2::selection {
    background-color: rgba(90, 182, 224, 0.3); }

  .markdown h3::selection, .markdown h4::selection, .markdown h5::selection, .markdown h6::selection, .markdown li::selection, .markdown ol::selection {
    background-color: rgba(133, 201, 232, 0.3); }

  .markdown code::selection {
    background-color: rgba(0, 0, 0, 0.7);
    color: #eeeeee; }
  .markdown code span::selection {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: #eeeeee !important; }

  .markdown a::selection {
    background-color: rgba(255, 230, 102, 0.2); }

  .inverted a::selection {
    background-color: rgba(255, 230, 102, 0.6); }

  .markdown td::selection, .markdown th::selection, .markdown caption::selection {
    background-color: rgba(180, 237, 95, 0.5); }

  .inverted {
    background: #0b2531;
    background: #252a2a; }
    .inverted #wrapper {
      background: #252a2a; }
    .inverted a {
      color: #acd1d5; } }
.markdown .highlight .c {
  color: #998;
  font-style: italic; }
.markdown .highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }
.markdown .highlight .k, .highlight .o {
  font-weight: bold; }
.markdown .highlight .cm {
  color: #998;
  font-style: italic; }
.markdown .highlight .cp {
  color: #999;
  font-weight: bold; }
.markdown .highlight .c1 {
  color: #998;
  font-style: italic; }
.markdown .highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic; }
.markdown .highlight .gd {
  color: #000;
  background-color: #fdd; }
  .markdown .highlight .gd .x {
    color: #000;
    background-color: #faa; }
.markdown .highlight .ge {
  font-style: italic; }
.markdown .highlight .gr {
  color: #a00; }
.markdown .highlight .gh {
  color: #999; }
.markdown .highlight .gi {
  color: #000;
  background-color: #dfd; }
  .markdown .highlight .gi .x {
    color: #000;
    background-color: #afa; }
.markdown .highlight .go {
  color: #888; }
.markdown .highlight .gp {
  color: #555; }
.markdown .highlight .gs {
  font-weight: bold; }
.markdown .highlight .gu {
  color: #800080;
  font-weight: bold; }
.markdown .highlight .gt {
  color: #a00; }
.markdown .highlight .kc, .markdown .highlight .kd, .markdown .highlight .kn, .markdown .highlight .kp, .markdown .highlight .kr {
  font-weight: bold; }
.markdown .highlight .kt {
  color: #458;
  font-weight: bold; }
.markdown .highlight .m {
  color: #099; }
.markdown .highlight .s {
  color: #d14; }
.markdown .highlight .na {
  color: #008080; }
.markdown .highlight .nb {
  color: #0086B3; }
.markdown .highlight .nc {
  color: #458;
  font-weight: bold; }
.markdown .highlight .no {
  color: #008080; }
.markdown .highlight .ni {
  color: #800080; }
.markdown .highlight .ne, .highlight .nf {
  color: #900;
  font-weight: bold; }
.markdown .highlight .nn {
  color: #555; }
.markdown .highlight .nt {
  color: #000080; }
.markdown .highlight .nv {
  color: #008080; }
.markdown .highlight .ow {
  font-weight: bold; }
.markdown .highlight .w {
  color: #bbb; }
.markdown .highlight .mf, .markdown .highlight .mh, .markdown .highlight .mi, .markdown .highlight .mo {
  color: #099; }
.markdown .highlight .sb, .markdown .highlight .sc, .markdown .highlight .sd, .markdown .highlight .s2, .markdown .highlight .se, .markdown .highlight .sh, .markdown .highlight .si, .markdown .highlight .sx {
  color: #d14; }
.markdown .highlight .sr {
  color: #009926; }
.markdown .highlight .s1 {
  color: #d14; }
.markdown .highlight .ss {
  color: #990073; }
.markdown .highlight .bp {
  color: #999; }
.markdown .highlight .vc, .highlight .vg, .highlight .vi {
  color: #008080; }
.markdown .highlight .il {
  color: #099; }
.markdown .highlight .gc {
  color: #999;
  background-color: #EAF2F5; }

.markdown .type-csharp .highlight .k, .markdown .type-csharp .highlight .kt {
  color: #00F; }
.markdown .type-csharp .highlight .nf {
  color: #000;
  font-weight: normal; }
.markdown .type-csharp .highlight .nc {
  color: #2B91AF; }
.markdown .type-csharp .highlight .nn {
  color: #000; }
.markdown .type-csharp .highlight .s, .type-csharp .highlight .sc {
  color: #A31515; }

body.dark #wrapper {
  background: transparent !important;
  box-shadow: none !important; }
