/* MOBILE */
@media only screen and (max-width: 480px) {
  
  /* Structure */
  header,
  header #logo {
    height: 78px;
  }
  
  header #logo a {
    width: 75px;
    height: 75px;
    background: transparent url('../img/logo.white.mobile.png') 0 9px no-repeat;
  }
  
  header #status {
    height: 15px;
    line-height: 15px;
    vertical-align: middle;
  }
  
  header #status a {
    font-size: 0.8em;
  }
  
  #index,
  #login {
    min-height: 380px;
  }
  
  footer {
    clear: both;
    position: relative;
    height: 56px;
  }
  
  footer #version {
    height: 20px;
    line-height: 20px;
  }
  
  /* Index */
  #index {
    width: 320px;
    margin-bottom: 40px; /* 40px > margin-top de #index #block */
  }
  
  #index #block {
    margin-top: 40px;
  }
  
  #index #block div {
    width: 320px;
    margin: 0 auto 40px auto;
  }
  
  #index #block div .img {
    height: 74px;
    margin-bottom: 0px;
  }
  
  #index #block div .img img {
    width: 64px;
    height: 64px;
  }
  
  #index #warning {
    padding-top: 40px;
  }
  
  /* Se connecter */
  #login {
    width: 300px;
  }
  
  #login input {
    width: 300px;
  }
  
  #login #submit {
    width: 130px;
  }
}
