/* RESET */

* {
  margin: 0;
  padding: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  display: block;
}

audio,
canvas,
video {
  margin: 0;
  padding: 0;
  display: inline-block;
}
