
		<div class="dialog" id="selecttarget">
			<figure>
				<a href="#" class="closemsg"></a>
				<figcaption>
					<h1>#Move_file_or_folder</h1>
				    <form action="index.php" method="post">
						<label>#Move:</label><input type="text"  class="npt" value="" name="file" id="filename" disabled="true" />
						<input type="hidden" value="" name="file" id="filename_hidden" />
						<input type="hidden" value="admin" name="p" />
						<label>#To:</label>#LIST_FILES_SELECT
						<input type="hidden" name="token" value="#TOKEN" />
						<br/>
						<input id="submit" type="submit" value="ok" class="btn" />
				    </form>
				</figcaption>
			</figure>
		</div>
