
		<div class="dialog" id="locked" onmousemove="document.getElementById('password').focus();">
			<figure>
				<a href="#" class="closemsg"></a>
				<figcaption>
					<h1>#Lock_access</h1>
				    <form action="index.php" method="post">
						<p>#Please_give_a_password</p>
						<input type="password"  value=""  class="npt"  name="pass" id="password" required  onKeyup="check();" />
						<input type="password"  value=""  class="npt"  name="confirm" id="confirm" required onKeyup="check();" />
						<input type="hidden" value="" name="id" id="ID_hidden" />
						<input type="hidden" value="admin" name="p" />
						<input type="hidden" name="token" value="#TOKEN" />
						<br/>
						<input id="submit" type="submit" value="ok" class="btn" />
				    </form>
				</figcaption>
			</figure>
		</div>
