
		<div class="dialog" id="usershare">
			<figure>
				<a href="#" class="closemsg"></a>
				<figcaption>
					<h1>#Share_folder</h1>
				    <form action="index.php" method="post">
				    <h2 id="ID_folder"></h2>
						<p>#share_text</p>
						<input type="hidden" value="" name="share" id="ID_share"/>
						<input type="hidden" name="token" value="#TOKEN"/>
						<input type="hidden" name="p" value="admin"/>
						<ul id="Users_list"></ul>
						<input id="submit" type="submit" value="Ok" class="btn" />
				    </form>
				</figcaption>
			</figure>
		</div>
