
		<div class="dialog" id="delete_box">
			<figure>
				<a href="#" class="closemsg"></a>
				<figcaption>
					<h1>#Delete</h1>
				    <form action="index.php" method="get">
						<p>#Delete_item</p>
						<input type="hidden" value="" name="del" id="ID_Delete"/>
						<input type="hidden" name="token" value="#TOKEN"/>
						<input type="hidden" name="p" value="admin"/>
						<br/>
						<input id="submit" type="submit" value="#YES" class="btn" />
				    </form>
				</figcaption>
			</figure>
		</div>
