
		<div class="dialog" id="import_box" onmousemove="document.getElementById('url_file').focus();">
			<figure>
				<a href="#" class="closemsg"></a>
				<figcaption>
					<h1>#paste_bozon_url</h1>
				    <form action="index.php" method="get"><br/>
						<input type="text" id="url_file" name="import" class="npt" value="" title="#paste_url" placeholder="http://www.url.com/f=xxxxxxxxx" required/>
						
						<input type="hidden" name="token" value="#TOKEN"/>
						<input type="hidden" name="p" value="admin"/>						
						<br/>
						<input id="submit" type="submit" value="Ok" class="btn" />
				    </form>
				</figcaption>
			</figure>
		</div>
