
		<li class="#EXTENSION #CLASS">						
			<div class="buttons" title="#TITLE">
				<a class="locked" title="#tooltip_lock" href="#locked" onclick="put_id('#ID')">&nbsp;</a>
				<a class="burn" title="#tooltip_burn" href="index.php?p=admin&burn=#ID&token=#TOKEN">&nbsp;</a>
				<a class="renew" title="#tooltip_renew" href="index.php?p=admin&renew=#ID&token=#TOKEN">&nbsp;</a>
				<a class="qrcode" href="#qrcode" onclick="qrcode('#ID')">&nbsp;</a>
			</div>
			<a href="index.php?f=#ID" download="#NAME">
				<img class="#EXTENSION" src="#theme/img/ghost.png"/>
				<em>#SIZE ko</em><em title="#NAME">#NAME</em>
			</a>
		</li>
	