		<tr class="folder #CLASS" title="#TITLE">
			<td class="table_image">
				<a href="index.php?p=admin&path=#FICHIER&token=#TOKEN" >
					<img src="#theme/img/folder.png" style="background:transparent;"/>
				</a>
			</td>
			<td class="table_filename">
				<a href="index.php?p=admin&path=#FICHIER&token=#TOKEN" >#NAME</a>
			</td>
			<td class="table_filesize">#SIZE</td>
			<td class="table_buttons">
				<a class="movefolder" href="#selecttarget" title="#Move_to" onclick="put_file('#SLASHEDFICHIER')">&nbsp;</a>
			</td>
			</tr>
		</tr>		