
<li class="#EXTENSION #CLASS" title="#TITLE">
	<div class="buttons">
		<a class="close" title="#tooltip_close" data-id="#ID" href="#delete_box"><span class="icon-trash" ></span></a>
		<a class="rename" title="#tooltip_rename" data-id="#ID" data-name="#SLASHEDNAME" href="#rename_box"><span class="icon-pencil" ></span></a>
		<a class="movefolder" title="#Move_to" data-name="#SLASHEDFICHIER" href="#selecttarget"><span class="icon-shuffle" ></span></a>
		<a class="link" title="#tooltip_link" data-id="#ID" href="#link_box"><span class="icon-link" ></span></a>
		#ICONE_VISU
		#ICONE_EDIT
	</div>
	<a href="index.php?f=#ID" #TARGET>
		<span class="icon-file ext #EXTENSION"><em>#EXTENSION</em></span>
		<em>#SIZE</em><em title="#NAME">#NAME</em>
	</a>
</li>
