
		<li class="#EXTENSION #CLASS" title="#TITLE">
			<div class="buttons">
				<a class="close" title="#tooltip_close" onclick="suppr('#ID');" href="#delete_box">&nbsp;</a>
				<a class="rename" title="#tooltip_rename" onclick="put_file_and_id('#ID','#SLASHEDNAME');"  href="#rename_box">&nbsp;</a>
				<a class="link" title="#tooltip_link" onclick="put_link('#ID');" href="#link_box">&nbsp;</a>
				#ICONE_VISU
			</div>
			<a href="index.php?f=#ID" download="#NAME" >
				<img src="#theme/img/ghost.png" class="#EXTENSION"/>
				<em>#SIZE ko</em><em title="#NAME">#NAME</em>
			</a>
		</li>
	