
<tr class="#EXTENSION #CLASS" title="#TITLE">
	<td class="table_check"><input type="checkbox" value="#ID" name="item[]"/></td>
	<td class="table_image"><a href="index.php?f=#ID" #TARGET ><img src="index.php?f=#ID&thumbs" style="background:transparent;"/></a></td>
	<td class="table_filename"><a href="index.php?f=#ID" #TARGET >#NAME</a></td>
	<td class="table_filesize">#SIZE</td>
	<td class="table_buttons">
		<a class="close" title="#tooltip_close" data-id="#ID" href="#delete_box"><span class="icon-trash" ></span></a>
		<a class="rename" title="#tooltip_rename" data-id="#ID" data-name="#SLASHEDNAME" href="#rename_box"><span class="icon-pencil" ></span></a>
		<a class="movefolder" title="#Move_to" data-name="#SLASHEDFICHIER" href="#selecttarget"><span class="icon-shuffle" ></span></a>
		<a class="link" title="#tooltip_link" data-id="#ID" href="#link_box"><span class="icon-link" ></span></a>
		#ICONE_VISU
	</td>
</tr>