
<li class="folder #CLASS" title="#TITLE">
	<div class="buttons">
		#ICONCLOSE
		#ICONRENAME
		#ICONMOVE
		<a class="link" title="#tooltip_link" data-id="#ID" href="#link_box"><span class="icon-link" ></span></a>
		<a class="zipfolder" title="#tooltip_zipfolder" href="index.php?p=admin&zipfolder=#ID&token=#TOKEN"><span class="icon-download-cloud" ></span></a>
	</div>
	<a href="index.php?p=admin&path=#FICHIER&token=#TOKEN" >
		<span class="icon-folder-1" ></span>
		<em class="over">#SIZE</em><em title="#NAME">#NAME</em>
	</a>
</li>
	