
<tr class="#CLASS">
	<td></td>
	<td class="table_image"><a href="index.php?f=#ID"><span class="icon-file #EXTENSION ext"><em>#EXTENSION</em></span></a></td>
	<td class="table_filename"><a href="index.php?f=#ID">#NAME</a></td>
	<td class="table_filesize owner">#FROM</td>
	<td class="table_filetype"></td>
	<td class="table_buttons">
		<a class="link" title="#tooltip_link" data-id="#ID" href="#link_box"><span class="icon-link" ></span></a>
		<a class="zipfolder" title="#tooltip_zipfolder" href="index.php?p=admin&zipfolder=#ID&token=#TOKEN"><span class="icon-download-cloud" ></span></a>	
	</td>
</tr>